$main-color: #fff;
$border-color: #f3f3f3;
$main-accent-color: #060b35;
$secondary-color: #616070;
$blue-accent-color: #00acdc;

@mixin content-font-styles {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--4 > :nth-child(-n + 4) {
    background-image: url(../images/star-active.svg);
  }
}
